/* import */
@font-face {
  font-family: '';
  src: url('myfont.woff2') format('woff2'),
       url('myfont.woff') format('woff'),
       url('myfont.ttf') format('truetype');
}


/* fonts */
$font-roboto-thin:
$font-roboto-light:
$font-roboto-regular:  
$font-svn-bellico: